* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#main {
  width: 100%;
  position: relative;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  width: 100%;
  color: white;
}

.info {
  position: fixed;
  top: 50%;
  left: 0%;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 10px;
  transform: translate(0%, -50%);
}

.info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

#planetInfo {
  padding: 10px;
  margin: 10px;
  color: white;
}

#planetInfo h2 {
  font-size: 3rem;
  font-weight: 400;
}

#planetImage {
  border-radius: 20px;
}

#planetImage canvas {
  border-radius: 20px !important;
}
